doctype html
html
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title #{appName}
   body
      p Dear #{name}
      p
      p Click here
      a(href="#{url}") #{url}
      p for confirmation
      br
      br
      p #{appName} support Team


